
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
 
 <!--
<app-intro></app-intro>
<app-recipe></app-recipe>
<app-gallery></app-gallery>
<app-contact></app-contact>
<app-footer></app-footer>
-->
