.contact{
    text-align: center;
    border:1px grey;
    padding:5% 10% 10% 10%;
    
}
mat-form-field{
    display:block;
}
.btn{
    background-color: crimson;
    color:#fff;

}
.alert-error {
    background-color: rgb(247, 188, 187); 
    color:rgb(165, 39, 39);  
}
.alert-success {
    background-color:rgb(213, 247, 207); 
    color:rgb(45, 132, 30) 
} 
.alert{
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
}