<div class="contact">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

    <h1>Contact Us</h1>
    <div class="alert alert-success" *ngIf="contactForm.valid && submitted">Message Sent</div>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name" type="text"  [ngClass]= "{ 'is-invalid': submitted && form.name?.errors }">
    </mat-form-field>
    <div class="alert alert-error" *ngIf="submitted && form.name?.errors">
      <div *ngIf="form.name?.errors.required">First Name is required</div>
    </div>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" type="email"  [ngClass]= "{ 'is-invalid': submitted && form.email?.errors }">
    </mat-form-field>
    <div class="alert alert-error" *ngIf="submitted && form.email?.errors">
      <div *ngIf="form.email?.errors.required">Email is required</div>
      <div *ngIf="form.email?.errors.email">Please provide a valid email.</div>
    </div>

    <mat-form-field>
      <span matPrefix>+27 &nbsp;</span>
      <input formControlName="phone" matInput placeholder="Mobile number" type="tel"  [ngClass]= "{ 'is-invalid': submitted && form.phone?.errors }">
    </mat-form-field>
    <div class="alert alert-error" *ngIf="submitted && phone?.errors">
      <div *ngIf="form.phone?.errors.required">Mobile number is required</div>
      <div *ngIf="form.phone?.errors.pattern">Please enter a numerical values only</div>
      <div *ngIf="form.phone?.errors.maxLength">Please enter a maximum of 9 numeical values</div>
    </div>

    <mat-form-field>
      <textarea formControlName="message" matInput placeholder="Type your message..." type="textarea" [ngClass]= "{ 'is-invalid': submitted && form.message?.errors }"></textarea>
    </mat-form-field>
    <div class="alert alert-error" *ngIf="submitted && form.message?.errors">
      <div *ngIf="form.message?.errors.required">Message is required</div>
    </div>

    <button mat-flat-button class="btn" type="submit" >Send Message</button>

  </form>
</div>