.intro{
    right:0;
    background:no-repeat center center relative;
    color:#fff;
    background-size: cover;
    padding-left: 2rem;
    position:relative;
}
h1{
    font-size: 100px;
    padding-top: 360px;
    width:30%;
    line-height: 7rem;
    color:#fff;
}
p{
    width:49%;
}
#more {
    display: none;
}
.btn{
    color:#fff;
    border-color: #fff;
}