<div class="intro" [ngStyle]="{'background-image': 'url(' +  'assets/img/intro/pear-parfeit.png' + ')'}">
  <h1>Pear Parfeit with Bayleaf</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    <span id="continues">...</span>
    <span id="read-more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
      Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc 
      venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. 
      Sed dapibus pulvinar nibh tempor porta.
    </span>
  </p> 
  <button id="read-more-btn" mat-stroked-button class="btn"  (click)="expand()" >Read More</button>
</div>