<div class="recipe">
  <div class="recipe-title">
    <h1>Recipe</h1>
    <mat-search-bar class="search-bar" [(ngModel)]="term" matInput placeholder="Search" type="text" onkeyup="">
    </mat-search-bar>
  </div>
  <br>
  <div *ngFor="let recipe of recipes | filter : term">
    <mat-card>
      <h4>{{recipe.title}}</h4>
      <p>{{ recipe.description }}</p>
    </mat-card>
    <br>
    <mat-card>
      <div class="recipe-list-block">
        <ul class="recipe-list">
          <h4>Ingredients</h4>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ingredient}}
          </li>
        </ul>
      </div>
    </mat-card>
    <br>


    


    <mat-card>
      <div class="recipe-method-block">
        <ol class="recipe-method">
            <h4>Method</h4>
            <li *ngFor="let method of recipe.method">
                {{method}}
            </li>
        </ol>
        
        <!-- <p>{{recipe.method}} </p> -->
      </div>
      <div div *ngFor="let image of galleries"></div>
      <img mat-card-lg-image src='{{recipe.image.secure_url}}'>
    </mat-card>
    <br>
  </div>