
.recipe{
    padding: 5% 5% 5% 5%;
    margin:o 5% 5% 5%;
    background-color: rgb(230, 230, 230);
    right:0;
}

.recipe-title{
    background-color: #ffcccc;
}

img{
    width:300px;
    padding:0 0 0 5%;
}

.container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

.search-bar{
    margin-left: 60%;
}

.recipe-list-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.recipe-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.method-list-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.method-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 30%;
}