<div class="gallery">
  <h1>Gallery</h1>
  {{gallery | json}}
  <div class="masonry-gallery" *ngFor="let gallery of galleries">
    <div class="masonry-gallery" *ngFor="let pic of gallery.images;let i = index">
      <mat-card class="item">
        <img src='{{pic.secure_url}}'>
      </mat-card>
    </div>
  </div>
</div>