html{
    box-sizing:border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.gallery{
    text-align: center;
    padding-top: 5%;
}
.masonry-gallery{
    margin: 1.5em auto;
    max-width: 768px;
    column-gap: 1.5em;
}

.item{
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1.5em;
    padding: 0;
    
    
}
img{
  width:300px;
  right: 0;
}
/* Gallery on large screens */
@media only screen and (min-width: 360px) {
    .masonry-gallery {
      column-count: 2;

    }

  }
  
  /* Gallery on medium-sized to small screens */
  @media only screen and (max-width: 768px){
    .masonry-gallery {
      column-count: 2;
    }
    img{
      width:300px;
    }
  }
  