header{
    top:0 px;
}
.navbar{
    justify-content: space-between;  
    background-color:#000;
    position:fixed;
    color:#fff;
    z-index: 10;
    padding-left: 2rem;
}
.mobile-navbar{
    display:none;
}
.menu-item{
    padding-right: 2rem;
}
.menu-item a{
    text-decoration: none;
    color:#fff;
}
.menu-item a:hover{
    text-decoration: underline;
}
.logo img{
    display: inline-block;
    width:20px;
    padding-right: 1%;
}
.black{
    justify-content: space-between;  
    background-color:#000;
    position:fixed;
    color:#fff;
    z-index: 10;
    padding-left: 2rem;   
}

@media only screen and (max-width: 1023px) and (min-width: 300px) {
    .navbar{
        display:none;
    }
    .mobile-navbar{
        justify-content: space-between;
        display:inline-block; 
        background-color:#000;
        position:fixed;
        color:#fff;
        z-index: 10;
        padding-left: 2rem;
        right:2%;
    }
  }
