<header>
  <mat-toolbar class="navbar">
    <div>
      <span class="logo">
        <strong><img src="assets/img/header/hc-logo.png" alt="">hello</strong>food
      </span>
    </div>
    <div>
      <span class='menu-item'><a routerLink="/">Intro</a></span>
      <span class='menu-item'><a routerLink="/recipe">Recipe</a></span>
      <span class='menu-item'><a routerLink="/gallery">Gallery</a></span>
      <span class='menu-item'><a routerLink="/contact">Contact</a></span>
    </div>
  </mat-toolbar>

  <mat-toolbar class="mobile-navbar">
      <span class="logo">
        <strong><img src="assets/img/header/hc-logo.png" alt="">hello</strong>food
      </span>
    <button mat-button [matMenuTriggerFor]="menu">Menu<mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Intro</button>
      <button mat-menu-item routerLink="/recipe">Recipe</button>
      <button mat-menu-item routerLink="/gallery">Gallery</button>
      <button mat-menu-item routerLink="/contact">Contact</button>
    </mat-menu>
  </mat-toolbar>
</header>