.footer{
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;  
    padding-left: 2rem;
}
.footer-item{
    padding-right: 2rem;
}
.footer img{
    display: inline-block;
    width:25px;
    padding-right: 1%;
}
.mobile-footer{
    display:none;
}

@media only screen and (max-width: 1023px) and (min-width: 300px){
    .mobile-footer{
        justify-content: space-between;
        padding-bottom: 5%;  
        text-align: center;
    }
    .footer-item{
        display:block;
    }
    .footer-icon{
        display:block;
    }
}