<footer>
  <mat-toolbar class="footer">
    <mat-card-footer>
      <span>
        <strong><img src="assets/img/footer/hc-logo.png" alt="">hello</strong>food
      </span>
      <div>
        <span class='footer-item'>+27 21 555 5555</span> 
        <span class='footer-item'>info@hellocomputer.com</span>
        <span class='footer-item'><a href="#"><i><img src="https://img.icons8.com/material-rounded/24/000000/twitter-squared.png"></i></a></span>
        <span class='footer-item'><a href="#"><i><img src="https://img.icons8.com/material/24/000000/facebook.png"></i></a></span> 
        <span class='footer-item'><a href="#"><i><img src="https://img.icons8.com/material-rounded/24/000000/instagram-new.png"></i></a></span> 
      </div>
    </mat-card-footer>
  </mat-toolbar>

  <mat-toolbar class="mobile-footer">
      <mat-card-footer>
        <span>
          <strong><img src="assets/img/footer/hc-logo.png" alt="">hello</strong>food
        </span>
        <div>
          <span class='footer-item'>+27 21 555 5555</span> 
          <span class='footer-item'>info@hellocomputer.com</span>
          <span class='footer-icon'><a href="#"><i><img src="https://img.icons8.com/material-rounded/24/000000/twitter-squared.png"></i></a></span>
          <span class='footer-icon'><a href="#"><i><img src="https://img.icons8.com/material/24/000000/facebook.png"></i></a></span> 
          <span class='footer-icon'><a href="#"><i><img src="https://img.icons8.com/material-rounded/24/000000/instagram-new.png"></i></a></span> 
        </div>
      </mat-card-footer>
    </mat-toolbar>
</footer>
